body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center.form input,
.center.form button {
  margin: 10px 20px;
}

.row {
  padding: 10px 30px;
  background: #f2f2f2;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}

.row .col {
  color: #344;
  font-size: 14px;
  flex: 1;
  padding: 5px;
}

.result {
  margin: 10px;
  padding: 10px;
  border: 1px solid #095212;
  border-radius: 5px;
  background: #cdf2d3;
}

.result .value {
  font-weight: bold;
  color: #095212;
}

@media (max-width: 640px) {
  .row {
    padding: 10px 10px;
  }
}

@media (max-width: 540px) {
  .row {
    padding: 10px 10px;
    flex-direction: column;
  }
}
